<!DOCTYPE html>
<html>
  <head>
    <title>My-Hd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- csrf meta tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- jquery and head scripts-->
    <%= javascript_include_tag 'jquery' %>
    <script src="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.js"></script>


    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">

    <!-- styles -->
    <%= stylesheet_link_tag    'application' %>
    <link rel="stylesheet" href="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.css" type="text/css"/>
  </head>
  <body>
    <nav class="navbar navbar-primary navbar-expand-lg navbar-light bg-white fixed-top">
      <a href="/" class="navbar-brand" id="logo-link"> <%= image_tag 'logo.png', id: 'logo' %> </a>
      <button class="navbar-toggler toggle-nav navbar-light-toggler-bg" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="main" style=" <%= 'max-width:none;' if current_page?(controller: :channels, action: :show, id: 1) %> ">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>

    <!-- javascripts -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
